.TopOrdersSection {
  padding: 20px 0px;
  width: 100%;
}

.TopOrdersSection header {
  text-align: center;
  position: relative;
  margin: 20px;
}

.TopOrdersSection header h2 {
  font-size: 2rem;
  position: relative;
  display: block;
}

.TopOrdersSection header::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 100px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #d40e0e;
}

.TopOrdersSectionAction {
  padding: 0px 40px;
  margin: 40px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
